html {
  font-size: 62.5%;
  font-family: Pretendard, 'sans-serif';
}

html,
body,
button,
input,
h1,
h2 {
  line-height: normal;
  font-style: normal;
  font-weight: 400;
}

body {
  width: 100dvw;
}

a,
button {
  cursor: pointer;
}

#__next {
  height: 100%;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
}
